<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">


  <%= for link <- @city_state_breed do %>
    <url>
      <loc><%= link %></loc>
      <changefreq>daily</changefreq>
    </url>
  <% end %>

</urlset>
