<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Puppies Admin"%>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css">
  </head>

  <body class="bg-gray-50" x-data="{ show_mobile: false, show_search: false}"  @keydown.meta.k="show_search = true, $nextTick(() => $refs.input.focus());"  @keyup.escape.window="show_search = false" >
    <div>
      <%= render "_admin_side_nav.html", assigns %>
      <%= render "_admin_side_nav_desktop.html", assigns %>

      <div class="md:pl-64 flex flex-col">
        <main class="flex-1">
          <%= @inner_content %>
        </main>
      </div>
    </div>
  </body>
</html>
