<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Reputable Puppies", suffix: " · Trending Puppies" %>

    <%= if @current_user != nil do %>
      <script>window.userId = "<%= @current_user.id %>"</script>
    <% end %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css">

    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <script defer src="https://js.stripe.com/v3/"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
  </head>
  <body class="flex flex-col bg-gray-50 note-hidden overflow-x-hidden" x-data="{ show_search: false}" >
    <%= render "header.html", assigns %>
    <div class="flex-grow">
      <%= @inner_content %>
    </div>
    <%= render "footer.html", assigns %>
  </body>
</html>
