<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

  	<div class="max-w-3xl mx-auto my-4">
		<h1>Thank you</h1>
		<p class="text-gray-500">Your review has been submitted. We appreciate you taking time the create one. If you have any question feel free  to <a class="underline" href="/contact">contact us</a></p>
	</div>
</div>
